.navegacion{
	width: 25%;
	position: absolute;
}

.prod{
	width: 73%;
	position: relative;
	left: 350px;
}

.navegacion, .prod{
	display: inline-block;
	margin: 0px;
	height: 100%;

}


.navi{
	height: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 20px;

}

ul{
	margin: 0;
}

.list_padre{
	border: 1px solid rgba(91, 113, 231, 0.33);
	border-radius: 3px;
}

.list{
	list-style: none;
	
	color: white;
	font-size: 22px;
}

.list:hover{
	cursor: pointer;
}

p{
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin: 0px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.46);
	background: #00b7ea; /* Old browsers */
background: -moz-linear-gradient(top, #00b7ea 39%, #009ec3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(39%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00b7ea 39%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00b7ea 39%,#009ec3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00b7ea 39%,#009ec3 100%); /* IE10+ */
background: linear-gradient(to bottom, #00b7ea 39%,#009ec3 100%); /* W3C */
}

.caja{
	border: 1px solid rgba(34, 31, 31, 0.15);
	height: 170px;
	width: 170px;
	margin: 10px;
	display: inline-block;
	border-radius: 3px;
}

.caja img:hover{
	transform: scale(0.98,0.98);
	-webkit-transform: scale(0.98,0.98);
	cursor: pointer;
}

.caja_padre{
	margin-top: 20px;
}

.list_hija{
	background-color: white;
	display: none;
}

.list_hija li{
	list-style: none;
	list-style-type: none;
	color: rgba(0, 0, 0, 0.45);
	font-size: 13px;
	padding: 12px;
	border-bottom: 1px solid rgba(34, 31, 31, 0.15);
}

.list_hija li:hover{
	background-color: rgb(238, 241, 243);
}
